%h1= @title
- if @tickets.empty?
  %p No tickets found.
- else
  - current_date = nil
  - @tickets.each do |t|
    / Date Stuff
    - opened = t.opened.strftime("%m/%d/%y")
    - unless current_date == opened
      - current_date = opened
      %h3.date= current_date
    
    / The ticket
    %p.ticket
      %img.avatar{:src => Gravatar.new(t.assigned, :size => 40), :alt => "#{t.assigned}'s avatar"}
      %a.title{:href => "/tickets/#{t.ticket_id}"}= t.title
      is assigned to
      %strong= t.assigned_name
      %br
      %a{:href => "/tickets/#{t.ticket_id}"}= t.ticket_id[0,6]
      \/
      %span{:class => t.state}= t.state
      %br
      %strong Tagged: 
      - unless t.tags.empty?
        - t.tags.each do |tag|
          %a{:href => "/tags/#{tag}"}= tag
      - else
        none
