%h1= @title
- if @tickets.empty?
  %p No tickets found.
- else
  - current_date = nil
  - @tickets.each do |t|
    / Date Stuff
    - opened = t.opened.strftime("%m/%d/%y")
    - unless current_date == opened
      - current_date = opened
      %h3.date= current_date
    
    / The ticket
    %p.ticket
      %img.avatar{:src => Gravatar.new(t.assigned, :size => 30), :alt => "#{t.assigned_name}'s avatar"}
      %a.title{:href => "/tickets/#{t.ticket_id}"}= t.title
      is assigned to
      %strong= t.assigned_name
      %br
      %span{:class => t.state}= t.state
      \/
      %span.tags
        - unless t.tags.empty?
          - t.tags.each do |tag|
            %a{:href => "/tickets/tags/#{tag}"}= tag
        - else
          none
